.blue {
	color: blue;
}
.black {
	color: black;
}
a {
	color: black;
}
tr {
	background-color: black;
	}
.arial {
	font-family: arial;
}
.blueback {
	background: skyblue;
}
.white {
	color: white;
}
.space {
	margin: 5px;
}
.navbar {
	width: 1350px;
	float: all;
}
button {
	padding: 40px 30px;
	margin: 80px;
	align-content: center;
	background: red;
	color: white;
	font-family: timesnewroman;
	font-size: 15px;
}
.greenback {
	background: limegreen;
}
.ap {
	height: 150px;
	width: 300px;
}
.ob {
	background: orange;
}