.blue {
	color: blue;
}
.black {
	color: black;
}
a {
	color: black;
}
tr {
	background-color: black;
	}
.arial {
	font-family: arial;
}
.background{
	background: skyblue;
}
.white {
	color: white;
}
.permanentmarker {
	font-family: permanentmarker;
}