.blue {
	color: blue;
}
.black {
	color: black;
}
a {
	color: black;
}
tr {
	background-color: black;
	}
.arial {
	font-family: arial;
}
.blueback {
	background: skyblue;
}
.white {
	color: white;
}
.permanentmarker {
	font-family: permanentmarker;
}
.space {
	margin: 5px;
}
.navbar {
	width: 1350px;
	float
}
button {
	padding: 40px 30px;
	margin: 80px;
	align-content: center;
	background: red;
}
.greenback {
	background: green;
}